<% layout('layout') -%>

<div class="row">
<table class="table-striped table-bordered">
    <tr>
        <th></th>
        <th>Local Team</th>
        <th>Local Goals</th>
        <th>Away Team</th>
        <th>Away Goals</th>
        <th>Date</th>
        <th>Time</th>
        <th>Stage</th>
        <th>Venue</th>
        <th>Match #</th>
    </tr>
<% items.forEach(function (item) { %>
    <tr>
        <td><a class="btn btn-info btn-xs" href="match/<%= item.id %>">View</a></td>
        <td><%= item.local %></td>
        <td><%= item.localgoals == null ? '' : item.localgoals %></td>
        <td><%= item.away %></td>
        <td><%= item.awaygoals == null ? '' : item.awaygoals %></td>
        <td><%= item.date %></td>
        <td><%= item.time %></td>
        <td><%= item.stage %></td>
        <td><%= item.venue %></td>
        <td><%= item.match || "" %></td>
    </tr>
<% }); %>
</table>
</div>