<% layout('layout') -%>

<div class='row'>
<a class='btn btn-info btn-small' href='/match'>Matches</a>
<a class='btn btn-info btn-small' href='/match/<%= item.id %>/edit'>Edit Match</a>
</div>

<div class="row">
<table class="table-striped table-bordered">
    <tr>
        <td>Local Team</td>
        <td><%= item.local %></td>
    </tr>
    <tr>
        <td>Local Goals</td>
        <td><%= item.localgoals %></td>
    </tr>
    <tr>
        <td>Away Team</td>
        <td><%= item.away %></td>
    </tr>
    <tr>
        <td>Away Goals</td>
        <td><%= item.awaygoals %></td>
    </tr>
    <tr>
        <td>Date</td>
        <td><%= item.date %></td>
    </tr>
    <tr>
        <td>Time</td>
        <td><%= item.time %></td>
    </tr>
    <tr>
        <td>Stage</td>
        <td><%= item.stage %></td>
    </tr>
    <tr>
        <td>Venue</td>
        <td><%= item.venue %></td>
    </tr>
    <tr>
        <td>Match #</td>
        <td><%= item.match || "" %></td>
    </tr>
    <tr>
        <td>Finished</td>
        <td><%= item.finished ? "Yes" : "No" %></td>
    </tr>
</table>
</div>