<% layout('layout') -%>

<div class='row'>
<a class='btn btn-info' href='/match'>Matches</a>
<a class='btn btn-info' href='/match/<%= item.id %>'>View Match</a>
</div>

<div class="row">
<form method="post">
<table class="table-striped table-bordered">
    <tr>
        <td>Local Team</td>
        <td><input type='text' name='local' value='<%= item.local %>'></td>
    </tr>
    <tr>
        <td>Local Goals</td>
        <td><input type='text' name='localgoals' value='<%= item.localgoals == null ? "" : item.localgoals %>' class='input-mini'></td>
    </tr>
    <tr>
        <td>Away Team</td>
        <td><input type='text' name='away' value='<%= item.away %>'></td>
    </tr>
    <tr>
        <td>Away Goals</td>
        <td><input type='text' name='awaygoals' value='<%= item.awaygoals == null ? "" : item.awaygoals %>' class='input-mini'></td>
    </tr>
    <tr>
        <td>Date</td>
        <td><input type='text' name='date' value='<%= item.date %>'></td>
    </tr>
    <tr>
        <td>Time</td>
        <td><input type='text' name='time' value='<%= item.time %>'></td>
    </tr>
    <tr>
        <td>Stage</td>
        <td>
        <select name='stage'>
        <% stages.forEach(function (stage) { %>
        <option <%= stage == item.stage ? "selected" : "" %>><%= stage %></option>
        <% }); %>
        </select>
        </td>
    </tr>
    <tr>
        <td>Venue</td>
        <td><input type='text' name='venue' value='<%= item.venue %>'></td>
    </tr>
    <tr>
        <td>Match #</td>
        <td><input type='text' name='match' value='<%= item.match || "" %>' class='input-mini'></td>
    </tr>
    <tr>
        <td>Finished</td>
        <td><input type='checkbox' <%= item.finished ? "checked" : "" %> name='finished'></td>
    </tr>
</table>
<input class="btn btn-primary" type="submit" value="Save" />
</form>
</div>